.flying-image {
  --target-position-x: 0px;
  --target-position-y: 0px;

  display: block;
  position: fixed;
  top: var(--target-position-y);
  left: var(--target-position-x);
  width: 8rem;
  translate: -50% -50%;
  animation: fly 0.9s 1;
  border-radius: 4rem;
}
@keyframes fly {
  0% {
    top: var(--target-position-y);
    left: var(--target-position-x);
    opacity: 1;
  }
  /* 70% { */
  /* translate: 50% 50%; */
  /* opacity: 1; */
  /* } */
  100% {
    top: 5%;
    left: 5%;
    opacity: 0;
  }
}
